.container {
  display: flex;
  align-items: flex-start;
}

.course-list {
  height: 200px;
  background-color: aqua;
}

.course-list .item,
table .item {
  width: 40px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #000;
  margin: 4px 0;
  color: #fff;
  display: block;
}

table .item { 
  display: inline-block;
}

.blue {
  background-color: blue !important;
}

.orange {
  background-color: orange !important;
}

.green {
  background-color: green !important;
}

.yellow {
  background-color: rgb(233, 214, 8) !important;
} 

table {
  margin-left: 20px;
}

table th, table td {
  width: 60px;
  height: 36px;
  text-align: center;
}

.drop-over {
  background-color: rgba(0, 0, 0, 0.5);
}
